/* menu-styles.css */

body {
    background-image: url(codes/foods/Background/20240715_211734.jpg);
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: darkred;
    color: yellow;
    text-align: center;
    padding: 2rem 0;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}
h2{
    position: absolute;
    top: 15px;
    left: 15px;
    margin: 10px; /* optional, for some space from the edges */
    font-size: 24px; /* adjust as needed */
    color: yellow;
    
    position: absolute;
}

li h2{
    color:yellow;
}
h2:hover{
    background:yellow;
    color:darkred;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.menu-section {
    margin-bottom: 3rem;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.menu-item {
    background-color: darkred;
    color: yellow;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px white;
    text-align: center;
}

.menu-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.menu-item p {
    margin: 0;
}

.menu-item button {
    background-color: darkred;
    color:yellow;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-item button:hover {
    background-color: yellow;
    color:darkred;
}








nav {
    position: absolute;
    top: -2%;
    left: 44px;
    margin: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto auto; /* Four columns */
    gap: 0.5px;
}

nav ul li {
    margin: 0;
    
}

nav ul li a {
    text-decoration: none;
    color:yellow;
    padding: 0.5em;
    display: block;
    background: darkred;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-top: 15%;
}

nav ul li a:hover {
    background: yellow;
    color: darkred;
    
}





p {
    background-color: darkred;
   
    color:yellow;
    text-decoration: none;
    text-align: center;
    padding: 0.7rem 0;
    position: fixed;
    width: 100%;
    bottom: -3%;
}